.wave-divider {
  width: 100%;
  margin-top: -115px;
}

.wave-divider img {
  display: block;
  width: calc(100% + 1.3px);
}

.wave-two {
  margin-top: -94px;
}

.image-gallery {
  padding: 4rem 0 2rem;
  background: #f5f5f5;
}

.gallery-container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.gallery-item {
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
}

.understanding {
  padding: 4rem 0;
  background: #f5f5f5;
}
#outlined-textBlack {
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Arial", sans-serif;
}
.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  margin-bottom: 3rem;

  color: "#333";
  font-weight: 300;
}

.section-title .highlight {
  font-weight: 800;
  color: #333;
}

.understanding-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

.understanding-item p {
  font-size: 14px;
  line-height: 1.7;
  color: #333;
}

.success-rate {
  text-align: center;
  color: #5bc8af;
  background-color: white;
  border: 3px solid #5bc8af;
  width: 100%;
}
