.testimonial {
  padding: 4rem 0;
  background: var(--white);
}
.testimonial-main {
  display: grid;
  grid-template-columns: auto 1fr auto; /* chevron - testimonial - chevron */
  align-items: center;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;

  margin-top: -110px;
}

.testimonial-container {
  display: grid;
  grid-template-columns: 290px 1fr;
  gap: 1rem;
  align-items: center;

  padding-right: 2rem;
  padding-left: 2rem;
}

.testimonial-image img {
  width: 100%;
  object-fit: cover;
}

.testimonial-content {
  background: #205247;
  padding: 3rem;
  border-radius: 2px;
  color: var(--white);
  position: relative;
}

.testimonial-content h4 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.testimonial-content p {
  font-size: 18px;
  line-height: 1.7;
  font-style: italic;
}

.testimonial-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.grey-icon {
  color: #eaeaea;
  font-size: 34px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--border-light);
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: var(--accent-green);
}

.services {
  padding: 4rem 0;
}

.services-intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

.FirstWord {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
}
.leftpara {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.services-intro p {
  max-width: 800px;
  margin: 0 auto;
  color: #333;
  font-size: 14px;
  line-height: 24px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3rem;
}

.service-card {
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  border: 2px solid #5bc8af;
  cursor: pointer;
}

.service-card h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #333;
}

.service-info {
  background: var(--primary-green);
  color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
}
